body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 223, 186, 0.8), rgba(255, 182, 193, 0.8)), url('recursos/fondo-pagina.png') no-repeat center center fixed;
    background-size: cover;
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.pdf-viewer {
    width: 100%;
    max-width: 800px;
    height: 100%;
    border: 2px solid #ff6f61;
    border-radius: 10px;
    background: #fff;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
