* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 223, 186, 0.8), rgba(255, 182, 193, 0.8)), url('recursos/fondo-pagina.png') no-repeat center center fixed;
    background-size: cover;
}

.header {
    background: linear-gradient(to bottom, rgba(255, 223, 186, 0.9), rgba(255, 182, 193, 0.9)), url('recursos/fondo-encabezado.png') no-repeat center center;
    background-size: cover;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-radius: 0 0 10px 10px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header img {
    height: 50px;
    cursor: pointer;
}

.main-content {
    height: calc(100% - 60px); /* Ajustar según la altura del encabezado */
    padding: 20px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
