
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('recursos/fondo.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    background-color: #f0f0f0;
    flex-wrap: wrap; 
}

.box {
    padding: 20px;
    border: 2px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow-y: auto;
    transition: transform 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
    margin: 10px; 
    position: relative;
    flex: 1 1 calc(33.333% - 20px); 
    height: 45%; 
    background: linear-gradient(135deg, #FFB347 0%, #FFCC33 100%); 
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#sobre-nosotros {
    background-image: url('recursos/fondo-hijosdelsol.png');
}

#ensenanzas {
    background-image: url('recursos/fondo1.png');
}

#eventos {
    background-image: url('recursos/fondo2.png');
}

#contacto {
    background-image: url('recursos/fondo3.png');
}

#recursos {
    background-image: url('recursos/fondo4.png');
}


h1, h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em; 
}

p {
    line-height: 1.6;
    color: #666; 
    margin-bottom: 10px; 
    max-width: 90%; 
    font-size: 1em;
}

a.link-box {
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
    margin-top: 10px; 
}

a.link-box:hover {
    text-decoration: underline; 
}


.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    filter: blur(0px); 
    transition: filter 0.3s;
    pointer-events: none;
}

.box:hover::before {
    filter: blur(8px); 
}


@media (max-width: 768px) {
    .box {
        flex: 1 1 100%; 
        height: auto;
    }

    h1, h2 {
        font-size: 1.2em; 
    }

    p {
        font-size: 1em; 
    }
}


body {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #e0e0e0;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}
